// -----[ FORMATEO ] -----
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    font-weight: bold;
    &.reset {
        text-decoration: none;
    }   
}

img.fit {
    object-fit: cover;
}