* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  font-weight: bold;
}
a.reset {
  text-decoration: none;
}

img.fit {
  object-fit: cover;
}

@font-face {
  font-family: "MGFont";
  src: url("/src/assets/fonts/MGFont/FONT.ttf");
}
@font-face {
  font-family: "Aleo";
  src: url("/src/assets/fonts/Aleo/Aleo-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Aleo";
  src: url("/src/assets/fonts/Aleo/Aleo-Italic-VariableFont_wght.ttf");
  font-style: italic;
}
.bigContainer.dark {
  background: #121212;
  color: #ffffff;
}
.bigContainer.dark header {
  background: #121212;
  border-bottom: 3px solid #606060;
}
.bigContainer.dark header .logo {
  filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.35));
}
.bigContainer.dark header .nav .headerNav.resalted {
  border-bottom: 3px solid #f3a100;
}
.bigContainer.dark header .nav .headerNav:hover {
  border-bottom: 3px solid #f3a100;
  color: #cccccc;
}
.bigContainer.dark header .nav #menuIcon:hover {
  color: #cccccc;
}
.bigContainer.dark header .nav .navMenuContainer {
  background: #121212;
  border: 3px solid #3a3a3a;
}
.bigContainer.dark header .nav .navMenuContainer .headerNavMenu:hover {
  background: #535353;
}
.bigContainer.dark header .nav .navMenuContainer .headerNavMenu.resalted {
  background: #535353;
}
.bigContainer.dark header .navIcon i:hover {
  color: #cccccc;
}
.bigContainer.dark main[of=home] .welcome img {
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.35));
}
.bigContainer.dark main[of=home] .welcome .text h1 {
  background: linear-gradient(135deg, #f3a100, #ffb627, #f3a100);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.bigContainer.dark main[of=home] .welcome .text .link {
  border: 3px solid;
  border-image: linear-gradient(135deg, #f3a100, #ffb627, #f3a100) 1;
  background: linear-gradient(135deg, #f3a100, #ffb627, #f3a100);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: transform 0.3s ease;
}
.bigContainer.dark main[of=home] .welcome .text .link:hover {
  transform: scale(1.1);
  animation: gradientMove 1s forwards;
}
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: -200% 50%;
  }
}
.bigContainer.dark main[of=home] .info .menu .menuItem {
  background: #2d2d2d;
}
.bigContainer.dark main[of=home] .info .menu .menuItem.active {
  background: #da9000;
}
.bigContainer.dark main[of=home] .info .menu .menuItem:hover {
  background: #da9000;
}
.bigContainer.dark main[of=home] .info .content:not(.contact) section img {
  filter: drop-shadow(0 0 2.5px rgba(255, 255, 255, 0.35));
}
.bigContainer.dark main[of=home] .info .content:not(.contact) section img:hover {
  filter: none;
}
.bigContainer.dark main[of=home] .info .content:not(.contact) section .container {
  background: #2d2d2d;
}
.bigContainer.dark main[of=home] .info .contact section h1 {
  background: #2d2d2d;
}
.bigContainer.dark main[of=home] .info .contact section .social i {
  background: #1f1f1f;
}
.bigContainer.dark main[of=home] .server h1 {
  background: linear-gradient(135deg, #f3a100, #ffb627, #f3a100);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.bigContainer.dark main[of=collection] .filterContainer .group search .search input {
  border: 3px solid;
  border-image: linear-gradient(135deg, #f3a100, #ffb627, #f3a100) 1;
  background: transparent;
  color: #ffffff;
}
.bigContainer.dark main[of=collection] .filterContainer .group search .search button {
  background: linear-gradient(135deg, #f3a100, #ffb627, #f3a100);
  color: #606060;
}
.bigContainer.dark main[of=collection] .filterContainer .group .filter select {
  border: 3px solid;
  border-image: linear-gradient(135deg, #f3a100, #ffb627, #f3a100) 1;
  background: transparent;
  color: #ffffff;
}
.bigContainer.dark main[of=collection] .filterContainer .group .filter select option {
  background: #121212;
  color: #ffffff;
}
.bigContainer.dark main[of=collection] .filterContainer .tags .container .tag {
  background: linear-gradient(135deg, #f3a100, #ffb627, #f3a100);
  color: #121212;
}
.bigContainer.dark main[of=collection] .gallery .container .item {
  border: 3px solid;
  border-image: linear-gradient(135deg, #f3a100, #ffb627, #f3a100) 1;
  background: transparent;
}
.bigContainer.dark main[of=collection] .gallery .container .item .status {
  background: linear-gradient(135deg, #f3a100, #ffb627, #f3a100);
  color: #121212;
}
.bigContainer.dark main[of=collection] .controls button {
  background: linear-gradient(135deg, #f3a100, #ffb627, #f3a100);
  color: #121212;
}
.bigContainer.dark footer {
  background: #0f0f0f;
}

.bigContainer {
  background: #f9d611;
  color: #050505;
  font-family: "Aleo", serif;
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  transition: background 0.8s ease, color 0.5s ease, filter 0.5 ease;
  font-size: 16px;
}
.bigContainer header {
  background: #f3a100;
  height: 15vh;
  border-bottom: 3px solid #fe2e2e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  width: 100%;
}
@media (width <= 700px) {
  .bigContainer header {
    padding: 0 20px;
  }
}
@media (width <= 500px) {
  .bigContainer header {
    padding: 0 20px;
  }
}
@media (width <= 320px) {
  .bigContainer header {
    padding: 0 20px;
  }
}
.bigContainer header .logo {
  font-family: "MGFont", sans-serif;
  font-size: 4em;
  color: #dfdfdf;
  filter: drop-shadow(0 0 5px rgba(5, 5, 5, 0.5));
  user-select: none;
  font-weight: bold;
  font-family: "MGFont", sans-serif;
  display: flex;
  justify-content: center;
  font-weight: normal;
  align-items: center;
  gap: 5px;
}
@media (width <= 768x) {
  .bigContainer header .logo {
    font-size: 3.5em;
  }
}
@media (width <= 425px) {
  .bigContainer header .logo {
    font-size: 2.8em;
  }
}
@media (width <= 320px) {
  .bigContainer header .logo {
    font-size: 2.1em;
    gap: 3px;
  }
}
.bigContainer header .logo .resalted {
  background: linear-gradient(to bottom, #f9d611, #f3a100);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.bigContainer header .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
@media (width <= 768px) {
  .bigContainer header .nav {
    gap: 20px;
  }
}
.bigContainer header .nav .headerNav {
  font-size: 1.4em;
  display: flex;
  align-items: center;
  gap: 5px;
  padding-bottom: 2px;
  border-bottom: 3px solid transparent;
  font-weight: 400;
  transition: border-bottom 0.3s ease;
  align-items: center;
}
@media (width <= 768px) {
  .bigContainer header .nav .headerNav {
    display: none;
    font-size: 1.3em;
  }
}
@media (width <= 1000px) {
  .bigContainer header .nav .headerNav#headerNavHome {
    display: flex;
  }
}
@media (width <= 700px) {
  .bigContainer header .nav .headerNav#headerNavHome {
    display: flex;
  }
}
@media (width <= 500px) {
  .bigContainer header .nav .headerNav#headerNavHome {
    display: none;
  }
}
@media (width <= 1000px) {
  .bigContainer header .nav .headerNav#headerNavCollection {
    display: flex;
  }
}
@media (width <= 700px) {
  .bigContainer header .nav .headerNav#headerNavCollection {
    display: none;
  }
}
@media (width <= 500px) {
  .bigContainer header .nav .headerNav#headerNavCollection {
    display: none;
  }
}
.bigContainer header .nav .headerNav.resalted {
  border-bottom: 3px solid #fe2e2e;
}
.bigContainer header .nav .headerNav:hover {
  border-bottom: 3px solid #fe2e2e;
  color: #1f1f1f;
}
.bigContainer header .nav #menuIcon {
  position: relative;
  display: none;
  font-size: 1.7em;
  transition: transform 0.3s ease;
  cursor: pointer;
}
@media (width <= 1000px) {
  .bigContainer header .nav #menuIcon {
    display: block;
  }
}
@media (width <= 768px) {
  .bigContainer header .nav #menuIcon {
    display: block;
  }
}
@media (width <= 425px) {
  .bigContainer header .nav #menuIcon {
    font-size: 1.6em;
  }
}
@media (width <= 320px) {
  .bigContainer header .nav #menuIcon {
    font-size: 1.4em;
  }
}
@media (width <= 320px) {
  .bigContainer header .nav #menuIcon {
    font-size: 1.3em;
  }
}
.bigContainer header .nav #menuIcon:hover {
  color: #2b2b2b;
  transform: scale(1.1);
}
.bigContainer header .nav .navMenuContainer {
  top: 60px;
  position: absolute;
  display: none;
  flex-direction: column;
  background: #f3a100;
  border: 3px solid #a76e00;
  border-radius: 8px;
  z-index: 9999;
}
@media (width <= 1000px) {
  .bigContainer header .nav .navMenuContainer {
    top: 75px;
    right: 130px;
  }
}
@media (width <= 768px) {
  .bigContainer header .nav .navMenuContainer {
    top: 65px;
    right: 135px;
  }
}
@media (width <= 425px) {
  .bigContainer header .nav .navMenuContainer {
    top: 65px;
    right: 105px;
  }
}
@media (width <= 375px) {
  .bigContainer header .nav .navMenuContainer {
    top: 65px;
    right: 80px;
  }
}
@media (width <= 320px) {
  .bigContainer header .nav .navMenuContainer {
    top: 60px;
    right: 70px;
  }
}
.bigContainer header .nav .navMenuContainer.active {
  display: flex;
}
.bigContainer header .nav .navMenuContainer .headerNavMenu {
  font-size: 1.3em;
  padding: 10px 15px;
}
@media (width <= 425px) {
  .bigContainer header .nav .navMenuContainer .headerNavMenu {
    font-size: 1.1em;
  }
}
@media (width <= 375px) {
  .bigContainer header .nav .navMenuContainer .headerNavMenu {
    font-size: 1em;
  }
}
.bigContainer header .nav .navMenuContainer .headerNavMenu:hover {
  background: #da9000;
}
.bigContainer header .nav .navMenuContainer .headerNavMenu.resalted {
  background: #da9000;
}
@media (width <= 1000px) {
  .bigContainer header .nav .navMenuContainer .headerNavMenu#headerNavMenuHome {
    display: none;
  }
}
@media (width <= 700px) {
  .bigContainer header .nav .navMenuContainer .headerNavMenu#headerNavMenuHome {
    display: none;
  }
}
@media (width <= 500px) {
  .bigContainer header .nav .navMenuContainer .headerNavMenu#headerNavMenuHome {
    display: block;
  }
}
@media (width <= 1000px) {
  .bigContainer header .nav .navMenuContainer .headerNavMenu#headerNavMenuCollection {
    display: none;
  }
}
@media (width <= 700px) {
  .bigContainer header .nav .navMenuContainer .headerNavMenu#headerNavMenuCollection {
    display: block;
  }
}
@media (width <= 500px) {
  .bigContainer header .nav .navMenuContainer .headerNavMenu#headerNavMenuCollection {
    display: block;
  }
}
.bigContainer header .navIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media (width <= 425px) {
  .bigContainer header .navIcon {
    gap: 15px;
  }
}
@media (width <= 375px) {
  .bigContainer header .navIcon {
    gap: 10px;
  }
}
.bigContainer header .navIcon i {
  font-size: 1.7em;
  transition: transform 0.3s ease;
  cursor: pointer;
}
@media (width <= 425px) {
  .bigContainer header .navIcon i {
    font-size: 1.5em;
  }
}
@media (width <= 375px) {
  .bigContainer header .navIcon i {
    font-size: 1.3em;
  }
}
@media (width <= 320px) {
  .bigContainer header .navIcon i {
    font-size: 1.2em;
  }
}
.bigContainer header .navIcon i:hover {
  color: #2b2b2b;
  transform: scale(1.1);
}
.bigContainer main {
  min-height: 85vh;
}
.bigContainer footer {
  background: #fe2e2e;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.bigContainer footer .credits {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  text-align: center;
  gap: 5px;
  width: 100%;
}
@media (width <= 425px) {
  .bigContainer footer .credits {
    font-size: 0.9em;
  }
}
@media (width <= 320px) {
  .bigContainer footer .credits {
    font-size: 0.8em;
  }
}
.bigContainer footer hr {
  width: 50%;
}
@media (width <= 425px) {
  .bigContainer footer hr {
    width: 60%;
  }
}
@media (width <= 320px) {
  .bigContainer footer hr {
    width: 65%;
  }
}
.bigContainer footer .details {
  display: grid;
  grid-template-columns: 65% 35%;
  width: 100%;
  padding: 20px 30px;
}
@media (width <= 768px) {
  .bigContainer footer .details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 30px;
  }
}
@media (width <= 425px) {
  .bigContainer footer .details {
    gap: 30px;
  }
}
@media (width <= 375px) {
  .bigContainer footer .details {
    gap: 30px;
    padding: 20px;
  }
}
.bigContainer footer .details .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (width <= 768px) {
  .bigContainer footer .details .info {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-left: 0px;
  }
}
@media (width <= 425px) {
  .bigContainer footer .details .info {
    align-items: center;
    flex-direction: column;
    gap: 0px;
  }
}
@media (width <= 320px) {
  .bigContainer footer .details .info {
    gap: 0px;
  }
}
.bigContainer footer .details .info a img {
  object-fit: cover;
}
@media (2560px >= width > 1440px) {
  .bigContainer footer .details .info a img {
    width: 500px;
  }
}
@media (width <= 320px) {
  .bigContainer footer .details .info a img {
    width: 200px;
  }
}
.bigContainer footer .details .info .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
@media (width <= 500px) {
  .bigContainer footer .details .info .text {
    align-items: center;
  }
}
.bigContainer footer .details .info .text p {
  font-size: 0.9em;
}
@media (width <= 425px) {
  .bigContainer footer .details .info .text p {
    text-align: center;
  }
}
.bigContainer footer .details .info .text p a {
  font-weight: bold;
}
.bigContainer footer .details .miniMenu {
  display: flex;
  gap: 50px;
}
@media (width <= 768px) {
  .bigContainer footer .details .miniMenu {
    justify-content: center;
    gap: 50px;
  }
}
@media (width <= 425px) {
  .bigContainer footer .details .miniMenu {
    justify-content: center;
    gap: 40px;
  }
}
@media (width <= 375px) {
  .bigContainer footer .details .miniMenu {
    gap: 30px;
  }
}
.bigContainer footer .details .miniMenu .column {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
@media (width <= 425px) {
  .bigContainer footer .details .miniMenu .column {
    align-items: center;
  }
}
.bigContainer footer .details .miniMenu .column h1 {
  font-family: "MGFont", sans-serif;
  font-size: 1.2em;
  font-weight: normal;
}
.bigContainer footer .details .miniMenu .column a {
  font-size: 0.9em;
}
@media (width <= 425px) {
  .bigContainer footer .details .miniMenu .column a {
    font-size: 0.8em;
    text-align: center;
  }
}
@media (width <= 320px) {
  .bigContainer footer .details .miniMenu .column a {
    font-size: 0.7em;
    text-align: center;
  }
}

main[of=collection] {
  display: flex;
  flex-direction: column;
  padding: 50px 75px;
  gap: 50px;
}
@media (width <= 500px) {
  main[of=collection] {
    padding: 35px 20px;
    gap: 35px;
  }
}
main[of=collection] .filterContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
main[of=collection] .filterContainer h1 {
  font-size: 2em;
  text-align: center;
}
@media (width <= 500px) {
  main[of=collection] .filterContainer h1 {
    font-size: 1.5em;
  }
}
main[of=collection] .filterContainer .group {
  display: flex;
  gap: 50px;
}
@media (width <= 500px) {
  main[of=collection] .filterContainer .group {
    flex-direction: column;
    gap: 25px;
  }
}
main[of=collection] .filterContainer .group search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
main[of=collection] .filterContainer .group search .search {
  display: flex;
  justify-content: center;
}
main[of=collection] .filterContainer .group search .search input {
  background: #ffffff;
  border: 3px solid #fe2e2e;
  padding: 5px 10px;
  font-size: 1.2em;
  border-radius: 12px 0 0 12px;
  width: 250px;
}
@media (width <= 375px) {
  main[of=collection] .filterContainer .group search .search input {
    width: 200px;
  }
}
main[of=collection] .filterContainer .group search .search button {
  background: #fe2e2e;
  padding: 10px;
  font-size: 1.3em;
  color: #ffffff;
  border-radius: 0 12px 12px 0;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
main[of=collection] .filterContainer .group search .search button:hover {
  background: #fe1f1f;
}
main[of=collection] .filterContainer .group search .search button:active {
  background: #f80101;
}
main[of=collection] .filterContainer .group .filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
main[of=collection] .filterContainer .group .filter select {
  border: 3px solid #fe2e2e;
  padding: 5px 10px;
  font-size: 1.35em;
  text-transform: capitalize;
}
@media (width <= 500px) {
  main[of=collection] .filterContainer .group .filter select {
    width: 150px;
  }
}
main[of=collection] .filterContainer .group .filter select option {
  text-transform: capitalize;
}
main[of=collection] .filterContainer .tags {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  gap: 10px;
}
main[of=collection] .filterContainer .tags .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
main[of=collection] .filterContainer .tags .container .tag {
  background: #1bb1d5;
  padding: 10px 15px;
  font-size: 1.1em;
  color: #ffffff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  text-transform: capitalize;
}
@media (width <= 500px) {
  main[of=collection] .filterContainer .tags .container .tag {
    font-size: 1em;
  }
}
@media (width <= 375px) {
  main[of=collection] .filterContainer .tags .container .tag {
    font-size: 0.9em;
  }
}
@media (width <= 320px) {
  main[of=collection] .filterContainer .tags .container .tag {
    font-size: 0.8em;
  }
}
main[of=collection] .filterContainer .tags .container .tag:hover {
  background: #26b36d;
}
main[of=collection] .filterContainer .tags .container .tag.active {
  background: #28be73;
}
main[of=collection] .gallery {
  display: flex;
  justify-content: center;
  align-items: center;
}
main[of=collection] .gallery .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  gap: 30px;
}
@media (width <= 1024px) {
  main[of=collection] .gallery .container {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }
}
@media (width <= 700px) {
  main[of=collection] .gallery .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width <= 500px) {
  main[of=collection] .gallery .container {
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width <= 375px) {
  main[of=collection] .gallery .container {
    grid-template-columns: 1fr;
  }
}
main[of=collection] .gallery .container .item {
  background: #28be73;
  border-radius: 8px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: transform 0.5s ease;
}
@media (width <= 700px) {
  main[of=collection] .gallery .container .item {
    padding: 10px 15px;
  }
}
@media (width <= 375px) {
  main[of=collection] .gallery .container .item {
    padding: 30px 30px;
  }
}
@media (width <= 320px) {
  main[of=collection] .gallery .container .item {
    padding: 20px 30px;
  }
}
main[of=collection] .gallery .container .item:hover {
  transform: scale(1.1);
}
main[of=collection] .gallery .container .item h1 {
  color: #ffffff;
  margin-bottom: 5px;
}
@media (width <= 1000px) {
  main[of=collection] .gallery .container .item h1 {
    font-size: 1.4em;
  }
}
@media (width <= 700px) {
  main[of=collection] .gallery .container .item h1 {
    font-size: 1.6em;
  }
}
@media (width <= 500px) {
  main[of=collection] .gallery .container .item h1 {
    font-size: 1.2em;
  }
}
@media (width <= 375px) {
  main[of=collection] .gallery .container .item h1 {
    font-size: 1.6em;
  }
}
@media (width <= 320px) {
  main[of=collection] .gallery .container .item h1 {
    font-size: 1.4em;
  }
}
main[of=collection] .gallery .container .item img {
  width: 120px;
  height: 120px;
  object-fit: scale-down;
}
@media (width <= 1000px) {
  main[of=collection] .gallery .container .item img {
    width: 100px;
    height: 100px;
  }
}
@media (width <= 700px) {
  main[of=collection] .gallery .container .item img {
    width: 150px;
    height: 150px;
  }
}
@media (width <= 500px) {
  main[of=collection] .gallery .container .item img {
    width: 100px;
    height: 100px;
  }
}
@media (width <= 375px) {
  main[of=collection] .gallery .container .item img {
    width: 140px;
    height: 140px;
  }
}
@media (width <= 320px) {
  main[of=collection] .gallery .container .item img {
    width: 120px;
    height: 120px;
  }
}
main[of=collection] .gallery .container .item .status {
  background: #ffffff;
  color: #28be73;
  font-size: 0.9em;
  padding: 5px 10px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
main[of=collection] .gallery .container .item.red {
  background: #fe2e2e;
}
main[of=collection] .gallery .container .item.red .status {
  color: #fe2e2e;
}
main[of=collection] .controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media (width <= 425px) {
  main[of=collection] .controls {
    flex-direction: column;
  }
}
main[of=collection] .controls section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
main[of=collection] .controls button {
  background: #fe2e2e;
  border: 0;
  font-weight: bold;
  font-size: 1em;
  padding: 10px 15px;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
}
@media (width <= 500px) {
  main[of=collection] .controls button {
    font-size: 0.8em;
  }
}
@media (width <= 425px) {
  main[of=collection] .controls button {
    font-size: 0.9em;
  }
}
main[of=collection] .controls button:hover {
  background: #fe1515;
}
main[of=collection] .gallery-info {
  font-size: 1.1em;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (width <= 425px) {
  main[of=collection] .gallery-info {
    font-size: 1em;
  }
}
@media (width <= 320px) {
  main[of=collection] .gallery-info {
    font-size: 0.9em;
  }
}
