* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  font-weight: bold;
}
a.reset {
  text-decoration: none;
}

img.fit {
  object-fit: cover;
}

@font-face {
  font-family: "MGFont";
  src: url("/src/assets/fonts/MGFont/FONT.ttf");
}
@font-face {
  font-family: "Aleo";
  src: url("/src/assets/fonts/Aleo/Aleo-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Aleo";
  src: url("/src/assets/fonts/Aleo/Aleo-Italic-VariableFont_wght.ttf");
  font-style: italic;
}
body, #root {
  background: #f9d611;
  color: #050505;
  font-family: "Aleo", serif;
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  transition: background 0.8s ease, color 0.5s ease, filter 0.5 ease;
  font-size: 16px;
}
body header, #root header {
  background: #f3a100;
  height: 15vh;
  border-bottom: 3px solid #fe2e2e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  width: 100%;
}
@media (width <= 700px) {
  body header, #root header {
    padding: 0 20px;
  }
}
@media (width <= 500px) {
  body header, #root header {
    padding: 0 20px;
  }
}
body header .logo, #root header .logo {
  font-family: "MGFont", sans-serif;
  font-size: 4em;
  color: #dfdfdf;
  filter: drop-shadow(0 0 5px rgba(5, 5, 5, 0.5));
  user-select: none;
  font-weight: bold;
  font-family: "MGFont", sans-serif;
  display: flex;
  justify-content: center;
  font-weight: normal;
  align-items: center;
  gap: 5px;
}
@media (width <= 500px) {
  body header .logo, #root header .logo {
    font-size: 2.8em;
  }
}
@media (width <= 700px) {
  body header .logo, #root header .logo {
    font-size: 3.5em;
  }
}
body header .logo .resalted, #root header .logo .resalted {
  background: linear-gradient(to bottom, #f9d611, #f3a100);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
body header .nav, #root header .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
body header .nav .headerNav, #root header .nav .headerNav {
  font-size: 1.4em;
  display: flex;
  align-items: center;
  gap: 5px;
  padding-bottom: 2px;
  border-bottom: 3px solid transparent;
  font-weight: 400;
  transition: border-bottom 0.3s ease;
  align-items: center;
}
@media (width <= 1000px) {
  body header .nav .headerNav, #root header .nav .headerNav {
    display: none;
  }
}
@media (width <= 700px) {
  body header .nav .headerNav, #root header .nav .headerNav {
    display: none;
  }
}
@media (width <= 500px) {
  body header .nav .headerNav, #root header .nav .headerNav {
    display: none;
  }
}
@media (width <= 1000px) {
  body header .nav .headerNav#headerNavHome, #root header .nav .headerNav#headerNavHome {
    display: flex;
  }
}
@media (width <= 700px) {
  body header .nav .headerNav#headerNavHome, #root header .nav .headerNav#headerNavHome {
    display: flex;
  }
}
@media (width <= 500px) {
  body header .nav .headerNav#headerNavHome, #root header .nav .headerNav#headerNavHome {
    display: none;
  }
}
@media (width <= 1000px) {
  body header .nav .headerNav#headerNavCollection, #root header .nav .headerNav#headerNavCollection {
    display: flex;
  }
}
@media (width <= 700px) {
  body header .nav .headerNav#headerNavCollection, #root header .nav .headerNav#headerNavCollection {
    display: none;
  }
}
@media (width <= 500px) {
  body header .nav .headerNav#headerNavCollection, #root header .nav .headerNav#headerNavCollection {
    display: none;
  }
}
body header .nav .headerNav.resalted, #root header .nav .headerNav.resalted {
  border-bottom: 3px solid #fe2e2e;
}
body header .nav .headerNav:hover, #root header .nav .headerNav:hover {
  border-bottom: 3px solid #fe2e2e;
  color: #1f1f1f;
}
body header .nav #menuIcon, #root header .nav #menuIcon {
  position: relative;
  display: none;
  font-size: 1.7em;
  transition: transform 0.3s ease;
  cursor: pointer;
}
@media (width <= 1000px) {
  body header .nav #menuIcon, #root header .nav #menuIcon {
    display: block;
  }
}
@media (width <= 700px) {
  body header .nav #menuIcon, #root header .nav #menuIcon {
    display: block;
  }
}
@media (width <= 500px) {
  body header .nav #menuIcon, #root header .nav #menuIcon {
    display: block;
  }
}
body header .nav #menuIcon:hover, #root header .nav #menuIcon:hover {
  color: #2b2b2b;
  transform: scale(1.1);
}
body header .nav .navMenuContainer, #root header .nav .navMenuContainer {
  top: 60px;
  position: absolute;
  display: none;
  flex-direction: column;
  background: #f3a100;
  border: 3px solid #a76e00;
  border-radius: 8px;
}
@media (width <= 1000px) {
  body header .nav .navMenuContainer, #root header .nav .navMenuContainer {
    top: 75px;
    right: 130px;
  }
}
@media (width <= 700px) {
  body header .nav .navMenuContainer, #root header .nav .navMenuContainer {
    top: 75px;
    right: 110px;
  }
}
body header .nav .navMenuContainer.active, #root header .nav .navMenuContainer.active {
  display: flex;
}
body header .nav .navMenuContainer .headerNavMenu, #root header .nav .navMenuContainer .headerNavMenu {
  font-size: 1.3em;
  padding: 10px 15px;
}
body header .nav .navMenuContainer .headerNavMenu:hover, #root header .nav .navMenuContainer .headerNavMenu:hover {
  background: #da9000;
}
body header .nav .navMenuContainer .headerNavMenu.resalted, #root header .nav .navMenuContainer .headerNavMenu.resalted {
  background: #da9000;
}
@media (width <= 1000px) {
  body header .nav .navMenuContainer .headerNavMenu#headerNavMenuHome, #root header .nav .navMenuContainer .headerNavMenu#headerNavMenuHome {
    display: none;
  }
}
@media (width <= 700px) {
  body header .nav .navMenuContainer .headerNavMenu#headerNavMenuHome, #root header .nav .navMenuContainer .headerNavMenu#headerNavMenuHome {
    display: none;
  }
}
@media (width <= 500px) {
  body header .nav .navMenuContainer .headerNavMenu#headerNavMenuHome, #root header .nav .navMenuContainer .headerNavMenu#headerNavMenuHome {
    display: block;
  }
}
@media (width <= 1000px) {
  body header .nav .navMenuContainer .headerNavMenu#headerNavMenuCollection, #root header .nav .navMenuContainer .headerNavMenu#headerNavMenuCollection {
    display: none;
  }
}
@media (width <= 700px) {
  body header .nav .navMenuContainer .headerNavMenu#headerNavMenuCollection, #root header .nav .navMenuContainer .headerNavMenu#headerNavMenuCollection {
    display: block;
  }
}
@media (width <= 500px) {
  body header .nav .navMenuContainer .headerNavMenu#headerNavMenuCollection, #root header .nav .navMenuContainer .headerNavMenu#headerNavMenuCollection {
    display: block;
  }
}
body header .navIcon, #root header .navIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
body header .navIcon i, #root header .navIcon i {
  font-size: 1.7em;
  transition: transform 0.3s ease;
  cursor: pointer;
}
body header .navIcon i:hover, #root header .navIcon i:hover {
  color: #2b2b2b;
  transform: scale(1.1);
}
body main, #root main {
  min-height: 85vh;
}
body footer, #root footer {
  background: #fe2e2e;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
body footer .credits, #root footer .credits {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  gap: 5px;
  width: 100%;
}
body footer hr, #root footer hr {
  width: 50%;
}
body footer .details, #root footer .details {
  display: grid;
  grid-template-columns: 65% 35%;
  width: 100%;
  padding: 30px 40px;
}
@media (width <= 1000px) {
  body footer .details, #root footer .details {
    grid-template-columns: 55% 45%;
  }
}
@media (width <= 850px) {
  body footer .details, #root footer .details {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}
@media (width <= 700px) {
  body footer .details, #root footer .details {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padidng: 20px 30px;
  }
}
@media (width <= 500px) {
  body footer .details, #root footer .details {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padidng: 20px 30px;
  }
}
body footer .details .info, #root footer .details .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (width <= 850px) {
  body footer .details .info, #root footer .details .info {
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
}
@media (width <= 700px) {
  body footer .details .info, #root footer .details .info {
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
}
@media (width <= 500px) {
  body footer .details .info, #root footer .details .info {
    align-items: center;
    flex-direction: column;
    gap: 0px;
  }
}
body footer .details .info .text, #root footer .details .info .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
@media (width <= 500px) {
  body footer .details .info .text, #root footer .details .info .text {
    align-items: center;
  }
}
body footer .details .info .text p, #root footer .details .info .text p {
  font-size: 0.9em;
}
body footer .details .info .text p a, #root footer .details .info .text p a {
  font-weight: bold;
}
body footer .details .miniMenu, #root footer .details .miniMenu {
  display: flex;
  gap: 50px;
}
@media (width <= 850px) {
  body footer .details .miniMenu, #root footer .details .miniMenu {
    justify-content: center;
    gap: 100px;
  }
}
@media (width <= 700px) {
  body footer .details .miniMenu, #root footer .details .miniMenu {
    justify-content: center;
    gap: 50px;
  }
}
@media (width <= 500px) {
  body footer .details .miniMenu, #root footer .details .miniMenu {
    justify-content: center;
    gap: 50px;
  }
}
body footer .details .miniMenu .column, #root footer .details .miniMenu .column {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
body footer .details .miniMenu .column h1, #root footer .details .miniMenu .column h1 {
  font-family: "MGFont", sans-serif;
  font-size: 1.2em;
  font-weight: normal;
}
body footer .details .miniMenu .column a, #root footer .details .miniMenu .column a {
  font-size: 0.9em;
}

main {
  display: flex;
  flex-direction: column;
  padding: 50px 75px;
  gap: 50px;
}
@media (width <= 500px) {
  main {
    padding: 35px 20px;
    gap: 35px;
  }
}
main .filterContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
main .filterContainer h1 {
  font-size: 2em;
  text-align: center;
}
@media (width <= 500px) {
  main .filterContainer h1 {
    font-size: 1.5em;
  }
}
main .filterContainer .group {
  display: flex;
  gap: 50px;
}
@media (width <= 500px) {
  main .filterContainer .group {
    flex-direction: column;
    gap: 25px;
  }
}
main .filterContainer .group search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
main .filterContainer .group search .search {
  display: flex;
  justify-content: center;
}
main .filterContainer .group search .search input {
  background: #ffffff;
  border: 3px solid #fe2e2e;
  padding: 5px 10px;
  font-size: 1.2em;
  border-radius: 12px 0 0 12px;
  width: 250px;
}
main .filterContainer .group search .search button {
  background: #fe2e2e;
  padding: 10px;
  font-size: 1.3em;
  color: #ffffff;
  border-radius: 0 12px 12px 0;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .filterContainer .group search .search button:hover {
  background: #fe1f1f;
}
main .filterContainer .group search .search button:active {
  background: #f80101;
}
main .filterContainer .group .filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
main .filterContainer .group .filter select {
  border: 3px solid #fe2e2e;
  padding: 5px 10px;
  font-size: 1.35em;
  text-transform: capitalize;
}
@media (width <= 500px) {
  main .filterContainer .group .filter select {
    width: 150px;
  }
}
main .filterContainer .group .filter select option {
  text-transform: capitalize;
}
main .filterContainer .tags {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  gap: 10px;
}
main .filterContainer .tags .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
main .filterContainer .tags .container .tag {
  background: #1bb1d5;
  padding: 10px 15px;
  font-size: 1.1em;
  color: #ffffff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  text-transform: capitalize;
}
@media (width <= 500px) {
  main .filterContainer .tags .container .tag {
    font-size: 1em;
  }
}
main .filterContainer .tags .container .tag:hover {
  background: #26b36d;
}
main .filterContainer .tags .container .tag.active {
  background: #28be73;
}
main .gallery {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .gallery .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  gap: 30px;
}
@media (width <= 1000px) {
  main .gallery .container {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
@media (width <= 700px) {
  main .gallery .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width <= 500px) {
  main .gallery .container {
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
}
main .gallery .container .item {
  background: #28be73;
  border-radius: 8px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: transform 0.5s ease;
}
@media (width <= 700px) {
  main .gallery .container .item {
    padding: 10px 15px;
  }
}
main .gallery .container .item:hover {
  transform: scale(1.1);
}
main .gallery .container .item h1 {
  color: #ffffff;
  margin-bottom: 5px;
}
@media (width <= 1000px) {
  main .gallery .container .item h1 {
    font-size: 1.4em;
  }
}
@media (width <= 700px) {
  main .gallery .container .item h1 {
    font-size: 1.6em;
  }
}
@media (width <= 500px) {
  main .gallery .container .item h1 {
    font-size: 1.2em;
  }
}
main .gallery .container .item img {
  width: 120px;
  height: 120px;
  object-fit: scale-down;
}
@media (width <= 1000px) {
  main .gallery .container .item img {
    width: 100px;
    height: 100px;
  }
}
@media (width <= 700px) {
  main .gallery .container .item img {
    width: 150px;
    height: 150px;
  }
}
@media (width <= 500px) {
  main .gallery .container .item img {
    width: 100px;
    height: 100px;
  }
}
main .gallery .container .item .status {
  background: #ffffff;
  color: #28be73;
  font-size: 0.9em;
  padding: 5px 10px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
main .gallery .container .item.red {
  background: #fe2e2e;
}
main .gallery .container .item.red .status {
  color: #fe2e2e;
}
main .controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
main .controls .numberButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
main .controls button {
  background: #fe2e2e;
  border: 0;
  font-weight: bold;
  font-size: 1em;
  padding: 10px 15px;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
}
@media (width <= 500px) {
  main .controls button {
    font-size: 0.8em;
  }
}
main .controls button:hover {
  background: #fe1515;
}
main .gallery-info {
  font-size: 1.1em;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (width <= 500px) {
  main .gallery-info {
    font-size: 0.9em;
  }
}
